/*======================================================
CSS/RESPONSIVE.CSS
======================================================*/


@media(max-width:900px){


.dashboard{

grid-template-columns:1fr;

}


.dashboard-sidebar{

display:none;

}


.dashboard-grid{

grid-template-columns:1fr 1fr;

}


.footer-links{

grid-template-columns:1fr 1fr;

}


}



@media(max-width:600px){


.dashboard-grid{

grid-template-columns:1fr;

}


.footer-links{

grid-template-columns:1fr;

}


.footer-newsletter form{

flex-direction:column;

}


}
